
.ipynb_checkpoints/python_primer-checkpoint.ipynb
.ipynb_checkpoints/Week_2-FM-NetCDF_Data-checkpoint.ipynb
.ipynb_checkpoints/Week_4-elementary-greenhouse-checkpoint.ipynb
.ipynb_checkpoints/03-energy_balance_model-checkpoint.ipynb
.ipynb_checkpoints/04-elementary-greenhouse-checkpoint.ipynb
.ipynb_checkpoints/05-radiation_in_climlab-checkpoint.ipynb
.ipynb_checkpoints/06-global_data_exploration-checkpoint.ipynb
.ipynb_checkpoints/07-snowball_earth-checkpoint.ipynb
.ipynb_checkpoints/08-transient_warming-checkpoint.ipynb
.ipynb_checkpoints/example-assignment2-checkpoint.ipynb
.ipynb_checkpoints/Lab3-energy_balance_model-checkpoint.ipynb
.ipynb_checkpoints/example-assignment_3-checkpoint.ipynb
.ipynb_checkpoints/orbital-checkpoint.ipynb
.ipynb_checkpoints/orbital_params-checkpoint.ipynb
.ipynb_checkpoints/radiation-tester-assignment_4-checkpoint.ipynb
.ipynb_checkpoints/snowball_earth-master-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled2-checkpoint.ipynb
.ipynb_checkpoints/01_python_primer-checkpoint.ipynb
.ipynb_checkpoints/02-FM-NetCDF_Data-checkpoint.ipynb
.ipynb_checkpoints/04-a_greenhouse_atmosphere-checkpoint.ipynb
.ipynb_checkpoints/05-radiation_in_climlab-filled_20221025-checkpoint.ipynb
.ipynb_checkpoints/models-budgets-fun-EHU-checkpoint.ipynb
.ipynb_checkpoints/radbudget-helper-checkpoint.ipynb
.ipynb_checkpoints/u04-a_greenhouse_atmosphere-updated-checkpoint.ipynb
.ipynb_checkpoints/Untitled3-checkpoint.ipynb
.ipynb_checkpoints/Untitled4-checkpoint.ipynb
.ipynb_checkpoints/Untitled5-checkpoint.ipynb
.ipynb_checkpoints/x04-elementary-greenhouse-checkpoint.ipynb
